table{
    border-collapse: collapse;
    background-color: orange;
}
.white{
    width: 50px;
    background-color: white;
    height: 50px;
}
.black{
    width: 50px;
    background-color: black;
    height: 50px;

}
.as{
width: 20px;

}
.ad{
    height: 20px;
}